Package: linux-firmware-lime-fp3
Version: 1.0
Section: base
Priority: optional
Architecture: all
Maintainer: Citronics <info@citronics.eu>
Description: Firmware for Fairphone 3/3+ on the Citronics Lime carrier board
